*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  background-color: rgba(78, 75, 75, 0.171);
  height: 2000px;
}
nav{
  font-size: calc(13px) ;
}
@font-face {
  font-family:"rascon" ;
  src: url(font/Rascon.woff);
}
.sidebar {
  border-radius: 0 0 0 20px;
  position: fixed;
  top: -1900px;/*-1900px*/
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #00000049;
  display: flex; 
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 1.5em;
  text-decoration: none;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgb(0, 0, 0);
  transition: 1s ease-in-out;
}
.sidebar li a{
  text-shadow: 3px 2px 3px rgb(236, 35, 35);
  text-decoration: none;
  color: rgb(255, 240, 212);
  font-weight: 700;
  transition: 300ms;  
  text-underline-position: above;
}
.sidebar li a:hover{

  text-decoration: underline;
  color: #ffffff;
  text-shadow: -3px -2px 3px rgb(137, 47, 255);
  font-style:oblique;
}
.list {
  top: 0;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
  backdrop-filter: blur(3px);
  border-radius: 0 0 0 50px;
  background-color: #00000048;
  right: 0;
  width: calc(20px + 2vw);
  position: absolute;
  z-index: 1;
  transition: 800ms;
}
.list:hover{
  transform: scale(1.2);
}
.close {
  position: absolute;
  width: 40px;
  right: 0;
  transition: 10s;
}
.close:hover{
  transform: rotate(500deg);
}
.sidebar ul li a{
  width: 100%;
}
.sidebar li{
  width: 100%;
  text-decoration: none;
  display: block;
  padding: 40px;
  font-size: 1em;
}
.navMobile p{
  text-shadow: -2px -2px 5px black;
  position: absolute;
  color: rgb(202, 199, 235);
  margin: 2px 6px;
  font-family: rascon;
}
.navDesktop{
  position: fixed;
  display: none; /*flex */
  background-color: rgba(151, 59, 255, 0.274);
  top: 0;
  width: 100%;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 15px 10px -10px rgba(255, 255, 255, 0.164);
  transition: top .5s ease-in-out;
  /* height: calc(.5em + 1.5vw); */
}
.navDesktop .bar{
  /* font-size: calc(.1em + .9vw); */
  text-shadow: 4px 4px 3px black;
  margin: auto;
  display: inline-flex;
  justify-content: space-between;
  text-decoration: none;
  color: rgb(255, 255, 255);
  align-items: center;
  margin-top: 0;
  border-radius: 0 0 30px 30px;
  padding: 2px 0px 0px 0px;
  transition:transform 300ms,
  padding 300ms 300ms ,
  background-color 500ms 200ms ease-in-out,  
  color 200ms 500ms, 
  box-shadow 400ms 400ms,
  text-shadow 200ms 500ms ;
}
.navDesktop .bar:hover{
  color: rgb(133, 47, 233);
  background-color: rgba(226, 226, 226, 0.904);
  padding: 3px 30px 3px 30px;
  box-shadow: 0px 10px 3px -7px rgba(7, 6, 6, 0.836);
  text-shadow: 2px 2px 3px black, -1px -1px 2px black;
  transform: translateY(-3px);
  font-weight: 500;
}
section{
  background: rgb(14, 0, 27);
  z-index: -999;
  position: absolute"width="1920" height="100%" preserveAspectRatio="xMidYMid" viewBox="0 0 1920 1080;
  background-image: url("assets/bg.animation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: auto;
}
/* section .hero img{
  display: block;
  z-index:1;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 44vh;
  width: 30vh;
} */

/* .name {
  font-size: calc(12px + 1vw);
  display: block;
  top: calc(4em + 3vw);
  left: 8vw;
  position: absolute;
  color: white;
}
.name h2{
  font-size: 1.5em;
}
.name h3{
  font-size: 1.6em;
}
.name h1, h3{
  font-size: 1.7em;
  display: inline;
} */
.name .anim{
  color: salmon;
  position: absolute;
  animation: glitch-text 2s alternate-reverse infinite;
}
/* .name p{
 font-size: .8em;
} */
.name p .indo{
  color: rgba(255, 0, 0, 0.719);
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
  font-weight: 500;
}
/* .name p:last-child {
  line-height: 1px;
}   */
.animation .tech{
  bottom: calc(-50px + 1vh);
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 300px;
  height: 270px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation .tech img{
  transform: scale(45deg);
  width: calc(35px + 2vw);
  position: absolute;
}
.animation .tech :first-child{
  right: calc(100px - 2vw);
  animation: html 4300ms ease-in-out forwards infinite;
  transform-style: preserve-3d;
}
.animation .tech :nth-child(2){
  left: calc(100px - 2vw);
  animation: css 5100ms ease-in-out backwards infinite;
}
.animation .tech :nth-child(3){
  top: calc(50px - 5vw);
  animation: js 5500ms ease-in-out infinite;
}
.lock-botton{ 
  box-shadow: 0 10px 20px  -8px rgba(225, 253, 253, 0.69);
  height: calc(33px + 1.5vw);
  width: calc(20px + .9vw);
  border-radius: 40px;
  background: transparent;
  border: calc(3px + .07vw) solid rgb(44, 0, 165);
  position: absolute;
  z-index: 2;
  bottom: calc(1.5em + 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.center-lock{
  box-shadow: 0 0 10px  rgb(213, 245, 249);
 
  position: absolute;
  bottom: 20%;
  height: calc(7px + .3vw);
  width: calc(2.7px + .1vw);
  background-color: rgb(44, 0, 165);
  border-radius: 200px;
  transition: 100ms;
} 
.lock-botton:hover {
  
  border-color: rgb(142, 0, 207);
}
.lock-botton:hover .center-lock{
  background-color: blueviolet;
  transform: translateY(-250%);
}
/* @media (max-height: 570px) {
  .animation .tech {
    display: none;
  }
}
@media (min-width:551px){
section .hero img{
  width: calc(7em + 10vw);
  right: calc(1em + 10vw);
  left: auto;
  margin-top: 20vh;
}
.animation .tech{
  bottom: 2em;
}
}

@media (min-width: 768px) {
  section .hero img{
  width: calc(10em + 10vw);
  right: calc(.1em  + 18vw);
    
  }
  .navDesktop{
  display: flex;
  }
  .list{
    display: none;
  }
.animation .tech{
  left: auto;
  right: calc(1.7em + 2vw);

}
} */

@keyframes html {
  0%{
    transform: translateY(0px) rotateX(0deg);
    box-shadow: 0 -30px 25px -20px rgb(255, 81, 0);
  }
  50%{
    transform: translateY(-20px);
    opacity: .5;
    filter:invert(2);
    box-shadow: 0 -30px 30px -15px rgba(0, 106, 177, 0);
  }
  100%{
    box-shadow: 0 -30px 25px -20px rgb(255, 72, 0);
    transform: translateY(0px) rotateX(0deg);
  }
}
@keyframes css {
  0%{
    transform: translateY(0px) rotateX(0deg);
    box-shadow: 0 -30px 30px -20px rgb(0, 153, 255);
  }
  50%{
    transform: translateY(-20px);
    opacity: .5;
    filter:invert(2);
    box-shadow: 0 -30px 30px -15px rgba(0, 106, 177, 0);
  }
  100%{
    box-shadow: 0 -30px 30px -20px rgb(0 , 106, 177);
    transform: translateY(0px) rotateX(0deg);
  }
}
@keyframes js {
  0%{
    transform: translateY(0px) rotateX(0deg);
  }
  50%{
    transform: translateY(-20px);
    opacity: .5;
    filter:invert(2);
  }
  100%{
    transform: translateY(0px) rotateX(0deg);
  }
}

@keyframes glitch-text {
  0% {
    transform: translateX(0);
    text-shadow: 0 0 10px #ffffff;
    opacity: 0;
  }
  2% {
    transform: translateX(-2px) skewX(-2deg);
    text-shadow: 0 0 5px #000000;
    opacity: 0;

  }
  4% {
    transform: translateX(2px) skewX(2deg);
    text-shadow: 10px 0 10px #ffffff;
    opacity: 1;
    
  }
  6% {
    transform: translateX(-4px) skewX(-4deg);
    text-shadow: 0 0 10px #050505;
    opacity: 0;
    
  }
  8% {
    opacity: 1;
    transform: translateX(4px) skewX(4deg);
    text-shadow: 10px 0 15px #e4e8ff;
    
  }
  10% {
    opacity: 0;
    transform: translateX(0);
    text-shadow: 0 0 0 #000000;

  }
}