*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  background-color: rgba(78, 75, 75, 0.171);
  height: 2000px;
}
nav {
  position: fixed ;
  display: flex;
  background-color: rgba(151, 59, 255, 0.274);
  height: 50px;
  top: 0;
  width: 100%;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 15px 10px -10px rgba(255, 255, 255, 0.164);
  transition: top .5s ease-in-out;
}
.listnavbar {
  display: none;
}
nav .bar{
  font-size:28px;
 text-shadow: 4px 4px 3px black;
 margin: auto;
 display: inline-flex;
 justify-content: space-between;
 text-decoration: none;
 color: rgb(255, 255, 255);
 align-items: center;
 margin-top: 0;
 border-radius: 0 0 30px 30px;
 padding: 2px 0px 0px 0px;
 transition:transform 300ms,
  padding 300ms 300ms ,
  background-color 500ms 200ms ease-in-out,  
  color 200ms 500ms, 
  box-shadow 400ms 400ms,
  text-shadow 200ms 500ms ;
}
nav .bar:hover{
  color: rgb(133, 47, 233);
  background-color: rgba(226, 226, 226, 0.904);
  padding: 3px 30px 3px 30px;
  box-shadow: 0px 10px 3px -7px rgba(7, 6, 6, 0.836);
  text-shadow: 2px 2px 3px black, -1px -1px 2px black;
  transform: translateY(-3px);
  font-weight: 500;
}
section{
  margin:auto;background:rgb(14, 0, 27);display:block;z-index:-999;position:absolute"width="1920" height="100%" preserveAspectRatio="xMidYMid" viewBox="0 0 1920 1080;
  background-image: url("assets/bg.animation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content: center;
  
}
section img .bg-animation {
  position: absolute;
  z-index: -999;
  height: 100vh;
}

section .hero img{
  margin-top: 26vh;
  width: 400px ;
  border-radius: 50%;
  justify-content: center;
  box-shadow: 0 0 50px 1px rgba(153, 0, 255, 0.384), 0 30px 30px -20px rgba(255, 255, 255, 0.788) ;
}
section .hero img:hover{
  box-shadow: 0 0 50px 10px rgba(153, 0, 255, 0.384), 0 30px 30px -20px rgba(255, 255, 255, 0.788) ;
  transform: ;
}
.hero {
}
.name {
  display: block;
  top: 30vh;
  left: 10vw;
  position: absolute;
  color: white;
  width: 30%;
}
.name h2{
  font-size: 3em;
}
.name h1, h3{
  font-size: 4em;
  display: inline;
}
.name h1{
 color: salmon;
}
.name p:last-child {
  line-height: 1px;
  
}  
.name p{
  font-size: 30px;
}
.lock-botton{
  height: 90px;
  width: 60px;
  border-radius: 30px;
  background: transparent;
  border: 4px solid rgb(44, 0, 165);
  position: absolute;
  z-index: 2;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.center-lock{
  position: absolute;
  bottom: 20px;
  height: 15px;
  width: 5px;
  background-color: rgb(44, 0, 165);
  border-radius: 20px;
  transition: 100ms;
} 
.lock-botton:hover {
  border-color: rgb(142, 0, 207);
}
.lock-botton:hover .center-lock{
  background-color: blueviolet;
  transform: translateY(-30px);
}