*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  background-color: rgba(78, 75, 75, 0.171);
  height: 2000px;
}
.offcanvas-body {
  background-color: rgba(0, 0, 0, 0.438);
}
.listnavbar {
  display: block;
}

.big-navbar {
  position: fixed ;
  display: none;
  background-color: rgba(151, 59, 255, 0.274);
  height: 2.5vw;
  top: 0;
  width: 100%;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 15px 10px -10px rgba(255, 255, 255, 0.164);
  transition: top .5s ease-in-out;
}
.big-navbar .bar{
  font-size: 1.3vmax;
  text-shadow: 4px 4px 3px black;
  margin: auto;
  display: inline-flex;
  justify-content: space-between;
  text-decoration: none;
  color: rgb(255, 255, 255);
  align-items: center;
  margin-top: 0;
  border-radius: 0 0 30px 30px;
  padding: 2px 0px 0px 0px;
  transition:transform 300ms,
  padding 300ms 300ms ,
  background-color 500ms 200ms ease-in-out,  
  color 200ms 500ms, 
  box-shadow 400ms 400ms,
  text-shadow 200ms 500ms ;
}
.big-navbar .bar:hover{
  color: rgb(133, 47, 233);
  background-color: rgba(226, 226, 226, 0.904);
  padding: 3px 30px 3px 30px;
  box-shadow: 0px 10px 3px -7px rgba(7, 6, 6, 0.836);
  text-shadow: 2px 2px 3px black, -1px -1px 2px black;
  transform: translateY(-3px);
  font-weight: 500;
}
section{
  background: rgb(14, 0, 27);
  z-index: -999;
  position: absolute"width="1920" height="100%" preserveAspectRatio="xMidYMid" viewBox="0 0 1920 1080;
  background-image: url("assets/bg.animation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: auto;
}
section .hero img{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 44vh;
  width: 20vh;
  border-radius: 50%;
  box-shadow: 0 0 50px 1px rgba(153, 0, 255, 0.384), 0 30px 30px -20px rgba(255, 255, 255, 0.788) ;
}
section .hero img:hover{
  box-shadow: 0 0 50px 10px rgba(153, 0, 255, 0.384), 0 30px 30px -20px rgba(255, 255, 255, 0.788) ;
}
.name {
  font-size: 2vw;
  display: block;
  top: 10vh;
  left: 8vw;
  position: absolute;
  color: white;
  width: 70vw;
}
.name h2{
  font-size: 3.7em;
}
.name h1, h3{
  font-size: 3.6em;
  display: inline;
}
.name h1{
  color: salmon;
}
.name p{
 font-size: 2em;
}
.name p .indo{
  color: rgba(255, 0, 0, 0.719);
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
  font-weight: 500;
}
.name p:last-child {
  line-height: 1px;
  
}  
.animation .tech{
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 300px;
  height: 270px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation .tech img{
  width: 60px;
  position: absolute;
}
.animation .tech :first-child{
  right: 80px;
  animation: html 4300ms ease-in-out forwards infinite;
  transform-style: preserve-3d;
}
.animation .tech :nth-child(2){
  left: 80px;
  animation: css 5100ms ease-in-out backwards infinite;
}
.animation .tech :nth-child(3){
  top: 10px;
  animation: js 5500ms ease-in-out infinite;
}
.lock-botton{
  height: calc(3.4em  );
  width: calc(2.2em );
  border-radius: 20px;
  background: transparent;
  border: calc(.2em + .05vw) solid rgb(44, 0, 165);
  position: absolute;
  z-index: 2;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.center-lock{
  position: absolute;
  bottom: 20%;
  height: calc(2.5vw);
  width: calc(1.2vw);
  background-color: rgb(44, 0, 165);
  border-radius: 200px;
  transition: 100ms;
} 
.lock-botton:hover {
  border-color: rgb(142, 0, 207);
}
.lock-botton:hover .center-lock{
  background-color: blueviolet;
  transform: translateY(-30px);
}

/* @media (max-width: 425px) {
  .nav
}




@media (max-width: 1440px) {
  nav{
    height: 30px;
  }
  section .hero img{
    width: 110px;
  }
}

 */




@keyframes html {
  0%{
    transform: translateY(0px) rotateX(0deg);
    box-shadow: 0 -30px 25px -20px rgb(255, 81, 0);
  }
  50%{
    transform: translateY(-20px);
    opacity: .5;
    filter:invert(2);
    box-shadow: 0 -30px 30px -15px rgba(0, 106, 177, 0);
  }
  100%{
    box-shadow: 0 -30px 25px -20px rgb(255, 72, 0);
    transform: translateY(0px) rotateX(0deg);
  }
}
@keyframes css {
  0%{
    transform: translateY(0px) rotateX(0deg);
    box-shadow: 0 -30px 30px -20px rgb(0, 153, 255);
  }
  50%{
    transform: translateY(-20px);
    opacity: .5;
    filter:invert(2);
    box-shadow: 0 -30px 30px -15px rgba(0, 106, 177, 0);
  }
  100%{
    box-shadow: 0 -30px 30px -20px rgb(0 , 106, 177);
    transform: translateY(0px) rotateX(0deg);
  }
}
@keyframes js {
  0%{
    transform: translateY(0px) rotateX(0deg);
  }
  50%{
    transform: translateY(-20px);
    opacity: .5;
    filter:invert(2);
  }
  100%{
    transform: translateY(0px) rotateX(0deg);
  }
}
